# macOS boilerplate.
.DS_Store
.Trashes
.localized

# Xcode boilerplate.
xcuserdata
*.pbxuser
*.xccheckout
*.xcuserstate

# Build artifacts.
build
dist
metadata.json
module.xcconfig
platform
Podfile
Podfile.lock
Pods
titanium.xcconfig

# Do not ignore templates.
!scripts/templates/*

# Node.js artifacts.
.nvmrc
package-lock.json
node_modules

# PSPDFKit binaries.
PSPDFKit.framework
PSPDFKitUI.framework
